#
# This list is used by git-shortlog to make contributions from the
# same person appearing to be so.
#

Heiko Bornholdt <bornholdt@informatik.uni-hamburg.de>   bornholdt <bornholdt@informatik.uni-hamburg.de>
Kevin Röbert <6roebert@informatik.uni-hamburg.de>       6roebert <6roebert@informatik.uni-hamburg.de>
Kevin Röbert <6roebert@informatik.uni-hamburg.de>       Kevin R <dev@roebert.eu>
Kevin Röbert <6roebert@informatik.uni-hamburg.de>       Kevin Röbert <dev@roebert.eu>
Kevin Röbert <6roebert@informatik.uni-hamburg.de>       Kevin Röbert <dev@xn--rb-fka.it>
Kevin Röbert <6roebert@informatik.uni-hamburg.de>       Kevin <dev@roebert.eu>
