/*
 * Copyright (c) 2020-2021 Heiko Bornholdt and Kevin Röbert
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in all
 * copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
 * EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
 * MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.
 * IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM,
 * DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR
 * OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE
 * OR OTHER DEALINGS IN THE SOFTWARE.
 */

/* latin */
@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(Nunito-SemiBold.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

header .md-header-nav__topic.md-ellipsis:first-child{
    font-family: 'Nunito', "Roboto",-apple-system,BlinkMacSystemFont,Helvetica,Arial,sans-serif;
}

/* Front page image size */
img[src$='#small'] {
    width: 150px;
}
img[src$='#medium'] {
    width: 300px;
}

/* Center table and objects */
.center,
img,
.md-typeset__table {
    display: block !important;
    margin: 0 auto;
}

.md-typeset table:not([class]) tr td:first-child {
    text-align: left;
}
.md-typeset table:not([class]) th:not([align]),
.md-typeset table:not([class]) td:not([align]) {
    text-align: center;
}
article p:not([class]),
article ul:not([class]),
article ol:not([class]) {
    padding-left: 0.8em !important;
}

/* Fix for Chrome */
.md-typeset__table td code {
    word-break: unset;
}

.md-typeset__table tr :nth-child(1) {
    word-wrap: break-word;
    max-width: 30em;
}

p {
    text-align: justify;
}

