pymdown-extensions==8.0
mkdocs==1.1.2
mkdocs-git-revision-date-localized-plugin==0.7.1
mkdocs-material==5.5.12
mkdocs-material-extensions==1.0
markdown-include==0.6.0
pygments>=2.7.4 # not directly required, pinned by Snyk to avoid a vulnerability
