name: Deploy

on:
  push:
    branches:
      - master
    tags:
      - 'v*'
jobs:
  maven-central:
    name: Deploy to Maven Central
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3.2.0
        with:
          fetch-depth: 0
      - name: Set up JDK
        uses: actions/setup-java@v3.9.0
        with:
          java-version: 11
          distribution: 'adopt'
          server-id: ossrh
          server-username: MAVEN_USERNAME
          server-password: MAVEN_PASSWORD
          gpg-private-key: ${{ secrets.GPG_PRIVATE_KEY }}
          gpg-passphrase: GPG_PASSPHRASE
      - name: Cache Maven packages
        uses: actions/cache@v3
        with:
          path: |
            ~/.m2
            !~/.m2/settings.xml
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2
      - name: Deploy to Maven Central
        run: ./mvnw --batch-mode --update-snapshots --activate-profiles release deploy
        env:
          MAVEN_USERNAME: ${{ secrets.OSSRH_REPO_USER }}
          MAVEN_PASSWORD: ${{ secrets.OSSRH_REPO_PASS }}
          GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}
