name: Build Java API (Pull Request)

on:
  pull_request:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Set up JDK
        uses: actions/setup-java@v5.0.0
        with:
          java-version: 17
          distribution: 'adopt'
          cache: 'maven'
      - name: Build with Maven
        env:
          MAVEN_OPTS: "-Dhttps.protocols=TLSv1.2 -Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=WARN -Dorg.slf4j.simpleLogger.showDateTime=true -Djava.awt.headless=true"
        run: ./mvnw --batch-mode --errors --fail-at-end --show-version --update-snapshots -DinstallAtEnd=true -DdeployAtEnd=true --activate-profiles api -Dcheckstyle.skip -Drevapi.skip -DskipTests -Djacoco.skip package javadoc:aggregate
      - name: Publish artifact
        uses: actions/upload-artifact@v4
        with:
          name: Java API
          path: target/reports/apidocs/*
          if-no-files-found: error
