name: Docker Nightly

on:
  push:
    branches:
      - master

jobs:
  docker:
    name: Release Docker Nightly Images
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3.1.0
      - name: Set up JDK
        uses: actions/setup-java@v3.7.0
        with:
          java-version: 11
          distribution: 'adopt'
      - name: Get actual patch version
        id: actual_patch_version
        run: echo ::set-output name=ACTUAL_PATCH_VERSION::$(./mvnw help:evaluate "-Dexpression=project.version" -q -DforceStdout | cut -d - -f 1 | sed 's/v//g' | cut -d "." -f 1,2,3)
      - name: Get actual minor version
        id: actual_minor_version
        run: echo ::set-output name=ACTUAL_MINOR_VERSION::$(./mvnw help:evaluate "-Dexpression=project.version" -q -DforceStdout | cut -d - -f 1 | sed 's/v//g' | cut -d "." -f 1,2)
      - name: Get actual major version
        id: actual_major_version
        run: echo ::set-output name=ACTUAL_MAJOR_VERSION::$(./mvnw help:evaluate "-Dexpression=project.version" -q -DforceStdout | cut -d - -f 1 | sed 's/v//g' | cut -d "." -f 1)
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Log in to the Container registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v2
      - name: Build and push
        uses: docker/build-push-action@v3
        with:
          push: true
          context: .
          tags: ghcr.io/drasyl/drasyl:latest,ghcr.io/drasyl/drasyl:${{ steps.actual_patch_version.outputs.ACTUAL_PATCH_VERSION }},ghcr.io/drasyl/drasyl:${{ steps.actual_minor_version.outputs.ACTUAL_MINOR_VERSION }},ghcr.io/drasyl/drasyl:${{ steps.actual_major_version.outputs.ACTUAL_MAJOR_VERSION }} 
          platforms: linux/amd64,linux/arm/v7,linux/arm64
