name: Test

on:
  push:
    branches:
      - '*'
    tags:
      - '*'
  pull_request:

jobs:
  test:
    strategy:
      matrix:
        java: [ '11', '17', '21' ]

    name: Java ${{ matrix.java }}
    runs-on: ubuntu-latest
    timeout-minutes: 15

    steps:
      - uses: actions/checkout@v4.1.2
        with:
          fetch-depth: 0
      # sign artefacts to check if signing works, otherwise we would only find out after merging with the master, which is too late
      - name: Set up JDK
        uses: actions/setup-java@v4.5.0
        with:
          java-version: ${{ matrix.java }}
          distribution: 'adopt'
          cache: 'maven'
          gpg-private-key: ${{ secrets.GPG_PRIVATE_KEY }}
          gpg-passphrase: GPG_PASSPHRASE
      - name: Build with Maven
        run: ./mvnw --batch-mode --update-snapshots -Dmaven.javadoc.skip=true -Dsurefire.rerunFailingTestsCount=2 -Dfailsafe.rerunFailingTestsCount=2 verify gpg:sign | tee build.output && exit ${PIPESTATUS[0]}
        env:
          GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}
      - name: Checking for detected leak
        run: ./.github/scripts/check_leak.sh build.output
